* {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}
.modal__title{
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  height: 50px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-left: 15px;
}
.modal__todo{
  display: block;
  width: 280px;
  padding: 15px;
}
.modal__select{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-bottom: -20px;
}

.modal__btn-group{
  display: flex;
  justify-content: left;
  text-transform: uppercase;
}
.hidden{
  display: none;
}
